@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter";
  src: url("/public/Inter/static/Inter-Regular.ttf") format("woff2");
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: inter;
  background: #fafaf9;
}

li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #f43f5e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover::after {
  width: 100%;
  left: 0;
}

@layer utilities {
  .fade {
    animation: fade-in 2s ease-in-out;
  }
}
